
body {
    font-family:'Lato', sans-serif;
    font-weight: 300;
}

.myheader {
    background: lightblue;
    padding: 10px;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index:9999;
    background: white;
    padding: 0px;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    padding-left: 60px;
    padding-right: 60px;
}

.mynav {
    font-weight: 400;
}

.mytitle {
    font-family: 'Sacramento', cursive;
    font-size: 77px;
    text-align: center;
    line-height: 1.0;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.mysubtitle {
    text-align: center;
    margin: 0px;
}

@media screen and (max-width: 500px) {
    .mynav {
        font-size: 3vw;
    }
} 

.collapsing {
    transition: none;
}

.spacious {
    padding-bottom: 80px;
}
