
body {
  padding-top: 140px;
}

.myheader {
  padding-top: 20px;
  background: lightblue;
}

.mytitle {
   /* font-family: 'Sue Ellen Francisco', cursive; */
    /*font-family: 'Lovers Quarrel', cursive;*/
    font-family: 'Sacramento', cursive;
  font-size: 77px;
  text-align: center;
}

@media screen and (max-width: 601px) {
.mynav {
  font-size: 12px;
}
} 

.collapsing {
    transition: none;
}

.spacious {
    padding-bottom: 80px;
}
